{% load static %}
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="{% url 'home' %}"> <img src="{% static 'images/core-img/' %}logo.png" width="125px"></a>
                </div>
                <nav>
                    <ul>
                        <li><a href="{% url 'home' %}">Home </a></li>
                        <li><a href="{% url 'products-page'%}">Product </a></li>
                        <li><a href="">About </a></li>
                        <li><a href="">Contact </a></li>
                        {% if request.user.is_authenticated %}
                            <li>{{request.user}}</li>
                            <li>
                                <a href="{% url 'logout' %}">OUT</a>
                            </li>
                        {% else %}
                            <li><a href="{% url 'login' %}?next={{request.path}}" 
                            >Account </a></li>
                        {% endif %}
                        <li><form action="{%url 'search'%}" method="get">
                        <input type="text" name="q" placeholder="Search..">
                        </form></li>
                    </ul>
                </nav>
                <a href="{% url 'cart' %}">
                    <img src="{% static 'images/bg-img/' %}cart.png" width="30px" height="30px">
                </a>
                <a href="{% url 'my-orders' %}"
                    style='margin-left:20px'
                >My Orders</a>
            </div> 

        </div>
    </div>
