{% load static %}
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="{% static 'images/core-img/' %}logo.png" width="125px">
                </div>
                <nav>
                    <ul>
                        <li><a href="{% url 'home' %}">Home </a></li>
                        <li><a href="{% url 'products-page'%}">Product </a></li>
                        <li><a href="">About </a></li>
                        <li><a href="">Contact </a></li>
                        <li><a href="{% url 'login' %}">Account </a></li>
                    </ul>
                </nav>
                <a href="{% url 'cart' %}">
                    <img src="{% static 'images/bg-img/' %}cart.png" width="30px" height="30px">
                </a>
            </div> 
            <div class="row">
                <div class="col-2">
                    <h1>Give a new<br> Face mask</h1>
                    <a href="" class="btn">Khám phá ngay &#8594;</a>
                </div>
                <div class="col-2">
                    <img src="{% static 'images/bg-img/' %}bg-6.jpg">
                </div>
            </div>
        </div>
    </div>