<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Nhom 9 | YTE</title>
        <link rel="shortcut icon" href="{% static 'images/core-img/favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap" rel="stylesheet">  
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    </head>
<body>
    {% include 'header.html' %}

    {% block content %}{% endblock content %}

    {% include 'footer.html' %}

</body>
</html>