{% extends 'main.html' %} {% load static %} {% block content %}
<body>
  <div class="container row">
    <div class="col-2">
        <h1>Give a new<br> Face mask</h1>
        <a href="" class="btn">Khám phá ngay &#8594;</a>
    </div>
    <div class="col-2">
        <img src="{% static 'images/bg-img/' %}bg-6.jpg">
    </div>
</div>
  <!-- featured categories -->
  <div class="categories">
    <div class="small-container">
      <div class="row">
        <div class="col-3">
          <img src="{% static 'images/product-img/' %}product-1.jpg" />
        </div>
        <div class="col-3">
          <img src="{% static 'images/product-img/' %}product-2.jpg" />
        </div>
        <div class="col-3">
          <img src="{% static 'images/product-img/' %}product-3.jpg" />
        </div>
      </div>
    </div>
  </div>

  <!-- featured products -->
  <div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
      {% for product in products %}
      <div class="col-4">
        <a href="{% url 'product-info' product.id %}"><img src='{% static 'images/product-img/' %}{{product.image}}'></a>
        <h4>{{product.name}}</h4>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <p>{{product.price}} VND</p>
        <a href="{% url 'product-info' product.id %}">Xem </a>
      </div>
      {% endfor %}
    </div>
    <h2 class="title">Latest Products</h2>
    <div class="row">
      {% for product in products_latest %}
      <div class="col-4">
        <a href="{% url 'product-info' product.id %}"><img src='{% static 'images/product-img/' %}{{product.image}}'></a>
        <h4>{{product.name}}</h4>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <p>{{product.price}} VND</p>

        <a href="{% url 'product-info' product.id %}">Xem </a>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- Offer -->
  <div class="offer">
    <div class="small-container">
      <div class="row">
        <div class="col-2">
          <img
            src="{% static 'images/product-img/' %}product-13.jpg"
            class="offer-img"
          />
        </div>
        <div class="col-2">
          <p>San pham HOT</p>
          <h1>Khau trang</h1>
          <small
            >Đeo khẩu trang là một công cụ sức khỏe công cộng quan trọng để ngăn
            chặn sự lây lan của COVID-19 và cần nhớ rằng bất kỳ khẩu trang nào
            cũng tốt hơn là không có khẩu trang.</small
          >

          <br /><a href="" class="btn">Buy Now &#8594;</a>
        </div>
      </div>
    </div>
  </div>
  <!-- testimonial -->
  <div class="testimonial">
    <div class="small-container">
      <div class="row">
        <div class="col-3">
          <i class="fa fa-quote-left"></i>
          <p>
            Khẩu trang và mặt nạ có hiệu quả làm giảm tình trạng lây truyền
            SARS-CoV-2, loại vi-rút gây bệnh COVID-19, khi được đeo liên tục và
            đúng cách.
          </p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <img src="{% static 'images/product-img/' %}user-2.jpg" />
          <h3>Thao Hien</h3>
        </div>
        <div class="col-3">
          <i class="fa fa-quote-left"></i>
          <p>
            Khẩu trang và mặt nạ có hiệu quả làm giảm tình trạng lây truyền
            SARS-CoV-2, loại vi-rút gây bệnh COVID-19, khi được đeo liên tục và
            đúng cách.
          </p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <img src="{% static 'images/product-img/' %}user-2.jpg" />
          <h3>Thao Hien</h3>
        </div>
        <div class="col-3">
          <i class="fa fa-quote-left"></i>
          <p>
            Khẩu trang và mặt nạ có hiệu quả làm giảm tình trạng lây truyền
            SARS-CoV-2, loại vi-rút gây bệnh COVID-19, khi được đeo liên tục và
            đúng cách.
          </p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <img src="{% static 'images/product-img/' %}user-2.jpg" />
          <h3>Thao Hien</h3>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock content %}
