{% extends 'main.html' %}
{% block content %}
{% load static %}
    <div class="small-container">
        <div class="row row-2">
            <h2>All Products</h2>
            <select>
                <option>Default Shorting</option>
                <option>Short by price</option>
                <option>Short by popularity</option>
                <option>Short by rating</option>
                <option>Short by sale</option>
            </select>
        </div>
        <div class="row">
            {% for product in products %}
            <div class="col-4">
              <img src='{% static 'images/product-img/' %}{{product.image}}'>
              <h4>{{product.name}}</h4>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <p>{{product.price}} VND</p>
              <a href="{% url 'product-info' product.id %}">Xem </a>
            </div>
            {% endfor %}
            
        </div>

        <div class="page-btn">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>&#8594</span>
        </div>
    </div>
    {% endblock content %}
