{% extends 'main.html' %}
{% block content %}
    <div class="small-container">
        <div class="row row-2">
            <h2>All Products</h2>
            <select>
                <option>Default Shorting</option>
                <option>Short by price</option>
                <option>Short by popularity</option>
                <option>Short by rating</option>
                <option>Short by sale</option>
            </select>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="img/product-img/product-1.jpg">
                <h4>Nuoc ray tay Purell</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$5.0</p>
            </div>
            <div class="col-4">
                <img src="img/product-img/product-2.jpg">
                <h4>Nuoc ray tay Purell</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$5.0</p>
            </div>
            <div class="col-4">
                <img src="img/product-img/product-3.jpg">
                <h4>Nuoc ray tay Purell</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$5.0</p>
            </div>
            <div class="col-4">
                <img src="img/product-img/product-4.jpg">
                <h4>Nuoc ray tay Purell</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$5.0</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="img/product-img/product-1.jpg">
                <h4>Nuoc ray tay Purell</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$5.0</p>
            </div>
            <div class="col-4">
                <img src="img/product-img/product-2.jpg">
                <h4>Nuoc ray tay Purell</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$5.0</p>
            </div>
            <div class="col-4">
                <img src="img/product-img/product-3.jpg">
                <h4>Nuoc ray tay Purell</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$5.0</p>
            </div>
            <div class="col-4">
                <img src="img/product-img/product-4.jpg">
                <h4>Nuoc ray tay Purell</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$5.0</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="img/product-img/product-1.jpg">
                <h4>Nuoc ray tay Purell</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$5.0</p>
            </div>
            <div class="col-4">
                <img src="img/product-img/product-2.jpg">
                <h4>Nuoc ray tay Purell</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$5.0</p>
            </div>
            <div class="col-4">
                <img src="img/product-img/product-3.jpg">
                <h4>Nuoc ray tay Purell</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$5.0</p>
            </div>
            <div class="col-4">
                <img src="img/product-img/product-4.jpg">
                <h4>Nuoc ray tay Purell</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$5.0</p>
            </div>
        </div>
        <div class="page-btn">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>&#8594</span>
        </div>
    </div>
    {% endblock content %}