{% extends 'main.html' %}
{% block content %}
{% load static %}
    <div class="small-container">
        <div class="row row-2">
            {%if q%} 
            <h2>Sản phẩm liên quan tới {{q}}</h2>
            {%else%}
            <h2>All Products</h2>
            {%endif%}

            <select>
                <option>Default Shorting</option>
                <option>Short by price</option>
                <option>Short by popularity</option>
                <option>Short by rating</option>
                <option>Short by sale</option>
            </select>
        </div>
        {%if products%}
        {%else%}
            
            <p>Không có sản phẩm nào<p>
            <br>
            
        {%endif%}
        <div class="row">

            {% for product in products %}
            <div class="col-4">
                <a href="{% url 'product-info' product.id %}"><img src='{% static 'images/product-img/' %}{{product.image}}'></a>
              <h4>{{product.name}}</h4>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <p>{{product.price}} VND</p>
              <a href="{% url 'product-info' product.id %}">Xem </a>
            </div>
            {% endfor %}
            
        </div>
    </div>
    {% endblock content %}
